openapi: 3.0.3
info:
  title: Gilmore's Glorious Goods - Distribution Center
  version: 0.0.2
servers:
  - url: https://se.ifmo.ru/~s270245/dist/api/v3
paths: 

  /filter/price/{price-from}/{price-to}:
    get:
      summary: Get products in a price range
      description: Returns a list of products that fall in a specified price range
      tags:
        - Ebay
      parameters:
        - name: price-from
          in: path
          description: Lowest price
          required: true
          schema:
            $ref: '#/components/schemas/Price'
        - name: price-to
          in: path
          description: Highest price
          required: true
          schema:
            $ref: '#/components/schemas/Price'
      responses:
        '200':
          description: Successful operation. Returns an array of products.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProductList'
        '405':
          description: Validation exception
     
  /price/decrease/{decrease-percent}:
    post:
      summary: Decrease every product's price
      description: Decreases the price of every product by a specified amount, in percentages 
      tags:
        - Ebay
      parameters:
        - name: decrease-percent
          in: path
          description: Decrease percent
          required: true
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 100
      responses:
        '200':
          description: Successful operation
        '405':
          description: Validation exception

components:
  schemas:
    
    Product:
      type: object
      properties: 
        id: 
          type: integer
          format: int64
          minimum: 1
          example: 42
        name: 
          type: string
          example: Merchandise
        coordinates: 
          $ref: '#/components/schemas/Coordinates'
        creationDate: 
          type: string
          nullable: false
          format: date
        price: 
          $ref: '#/components/schemas/Price'
        manufactureCost: 
          $ref: '#/components/schemas/ManufactureCost'
        unitOfMeasure:
          $ref: '#/components/schemas/UnitOfMeasure'
        manufacturerId: 
          type: integer
          nullable: true
          format: int64
          minimum: 1
          example: 42
      
    ManufactureCost:
      type: number
      format: float
      example: 3.50
      
    Price:
      type: integer
      format: int64
      example: 150
      
    ProductList:
      type: array
      items:
        $ref: '#/components/schemas/Product'
     
    Coordinates:
      type: object
      nullable: false
      properties:
        x: 
          type: integer
          format: int64
          example: 45
        y: 
          type: integer
          format: int64
          maximum: 716
          example: 15
     
    Organization:
      type: object
      nullable: true
      properties:
        id: 
          type: integer
          format: int64
          minimum: 1
          example: 42
        name: 
          type: string
        fullName: 
          type: string
        annualTurnover: 
          type: number
          format: float
        employeesCount: 
          type: integer
          format: int64
        postalAddress: 
          $ref: '#/components/schemas/Address'
     
    Address:
      type: object
      properties:
        zipCode: 
          type: string
        town:
          $ref: '#/components/schemas/Location'
      
    Location:
      type: object
      nullable: true
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        z: 
          type: number
          format: float
        name: 
          type: string
          nullable: true
          maxLength: 909
     
    UnitOfMeasure:
      type: string
      nullable: true
      enum:
        - KILOGRAMS
        - CENTIMETERS
        - LITERS
        - GRAMS
      
    Count:
      type: integer
      example: 13
    
    
  parameters:
   
    Sorting:
      name: sort
      in: query
      description: Property and order to sort the list by
      required: false
      explode: true
      schema:
        type: object
        properties:
          by:
            type: string
            example: 'price'
          order:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
      
    Filtering:
      name: filters
      in: query
      description: Array of filters 
      required: false
      explode: true
      schema:
        type: array
        items:
          type: object
          properties:
            property:
              type: string
            filter:
              type: string
              
    Paging:
      name: paging
      in: query
      description: Page size and index
      required: false
      explode: true
      schema:
        type: object
        properties:
          size:
            type: integer
            minimum: 1
            example: 20
          index:
            type: integer
            minimum: 0